# ======================
# ENV FILES
# ======================
client/.env
server/.env

# ======================
# DEPENDENCIES
# ======================
node_modules/
server/node_modules/

# ======================
# JUNK / LOCAL FOLDERS
# ======================
client/cmd/
client/git/
